<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" text="#000000">
Hi Team,<br>
<br>
We are working on the following task for <sqaas type="subproject"></sqaas> story
<a href="">
    <sqaas type="storyId"></sqaas>
    <sqaas type="storyName"></sqaas>
</a>:
<br>
<ul>
    <li><sqaas type="formattedID"></sqaas> <sqaas type="taskName"></sqaas></li>
    <ul>
        <li>ETA: <sqaas type="ETA"></sqaas><br></li>
    </ul>
</ul>
We are working on this task now and will keep you updated on our progress.<br>
<br>
Thank you,<br>
QA Support Team<br>
<strong></strong><strong><span style="font-size: 14pt; color:
        rgb(94, 96, 62);"></span></strong><a
        href="http://sqasquared.com/"><span style="color: windowtext;
        text-decoration: none;"></span></a>
</body>
</html>
