<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" text="#000000">
Hi Team,<br>
<br>
<sqaas type="completed">
    We have completed the following task<sqaas type="plural_s"></sqaas> for
    <sqaas type="subproject"></sqaas>
    story
    <a href=""><sqaas type="storyId"></sqaas> <sqaas type="storyName"></sqaas></a>:
    <ul>
        <sqaas type="listItem">
            <li>
                <sqaas type="formattedID"></sqaas>
                <sqaas type="taskName"></sqaas>
            </li>
        </sqaas>
    </ul>
</sqaas>
<sqaas type="notCompleted">
    We are now moving on to the following task<sqaas type="plural_s"></sqaas> for
    <sqaas type="subproject"></sqaas>
    story
    <a href=""><sqaas type="storyId"></sqaas> <sqaas type="storyName"></sqaas></a>:
    <br>
    <ul>
        <sqaas type="listItem">
            <li>
                <sqaas type="formattedID"></sqaas>
                <sqaas type="taskName"></sqaas>
            </li>
            <ul>
                <li>ETA:
                    <sqaas type="ETA"></sqaas> hour<sqaas type="plural_s"></sqaas>
                    <br></li>
            </ul>
        </sqaas>
    </ul>
</sqaas>
    We will work on this task now and will keep you
        updated on our progress.<br>
        <br>
        Thank you,<br>
        QA Support Team <br>
        <br>
        <br>

</body>
</html>
