<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;
      charset=windows-1252">
</head>
<body bgcolor="#FFFFFF" text="#000000">
Hi Team,
<br>
<br>
We have realized the following test cases for
<sqaas type="subProject"></sqaas>
story
<a href=""><sqaas type="topNodeType"></sqaas> <sqaas type="topNodeId"></sqaas>:</a>
<sqaas type="topNodeName"></sqaas>:
    <br>
    <br>
    <table border="1px solid black" cols="2" rules="NONE" cellspacing="0">
        <colgroup>
            <col width="86">
            <col width="1145">
        </colgroup>
        <tbody>
            <tr>
                <td style="border-top: 1px solid #000000; border-bottom: 1px
                solid #000000; border-left: 1px solid #000000; border-right:
                1px solid #000000" height="20" align="CENTER"
                    bgcolor="#0000FF" width="86"><font color="#FFFFFF">ID</font></td>
                <td style="border-top: 1px solid #000000; border-bottom: 1px
                solid #000000; border-left: 1px solid #000000; border-right:
                1px solid #000000" align="CENTER" bgcolor="#0000FF"
                    width="1145"><font color="#FFFFFF">Title</font></td>
            </tr>
                <tr>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px
                solid #000000; border-left: 1px solid #000000; border-right:
                1px solid #000000" height="20" align="CENTER">
                        <font color="#000000">
                            <a href="">
                                <sqaas type="tfs_id"></sqaas>
                            </a>
                        </font>
                    </td>
                    <td style="border-top: 1px solid #000000; border-bottom: 1px
                solid #000000; border-left: 1px solid #000000; border-right:
                1px solid #000000" align="LEFT">
                        <font color="#000000">
                            <sqaas type="tfs_name"></sqaas>
                        </font>
                    </td>
                </tr>
        </tbody>
    </table>
    <br>
    Please review these test cases. Any feedback would be greatly
    appreciated, especially in the area of clarity, relevance, and
    accuracy.<br>
    <br>
    In addition, if you have any suggestions for additional test cases,
    please let us know.<br>
    <br>
    Thank you,<br>
    QA Support Team <br>
</body>
</html>
